body {
    background-color: rgb(179, 159, 143);
    color: rgb(80, 56, 5);
    font-family: "Times New Roman", sans-serif;
}

body p {
    font-size: 20px;
}

h2 {
    text-decoration: underline;
    font-size: 25px;
}

#gingerbread_img {
    height: auto;
    width: 20%;
    position: relative;
    Left: 20%;
}

#ftoast_img {
    height: auto;
    width: 30%;
    position: relative;
    Left: 30%;
}


#ppork_img {
    height: auto;
    width: 40%;
    position: relative;
    Left: 20%;
}

.ingredients ul {
    font-size: 20px;
    list-style-type: square;
}

.steps ol {
    font-size: 20px;
}